body{




}

.Header{

margin: -40px -10px auto -10px;
background-color: #b0000;
height: 110px;
border-radius: 30px;

border-style:solid;
border-color: #;
border-width:0px; 


}
#HeaderBackground{
position: absolute;
 margin-top: -422px;
 z-index: -1;
}

input{

	height:30px;
    margin-top: 15px;
    margin-left: 0px;
	
	
}
button{
    font-family: helvetica;
}
a:hover;{
    color: white;
}



span .close-sprite-bg{
}
.search-search-box{
	margin-left: 900px;
    margin-top: 40px;
}

.serachInput{
    margin:0px;
}



.dropdown .dropdown-menu {
    position: absolute;

   
    top: 100%;
    left: 0px;

   
    margin: 0;
}
.dropdown {
    position: absolute;
    display: inline-block;

}


#test{
    margin-left:200px;
    margin-top:-405px;
    /** Flytta Class knappen */
}



.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;



    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    background: transparent;
    color: #fcd144;
    font-family: Bliz-Quadrata;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000;
    border: none;

   
    padding: 0.4em 0.8em;
    font-size: 2em;
    width:150px;
    margin: 0px 0px 0px 0px;
    size:200%;

}
.dropdown-menu p{
    color: #FCD144;
    font-family: Bliz-Quadrata;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000;
    
}


/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #990000;
    color: #333333;
    font-size: 100%;
    text-align: center;


}


/** List Item Hover Styles **/
.dropdown a:hover {
    background: #ff1a1a;
}
.dropdown{
	margin: 0px 10px 230px 500px;

}
#right-screw {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 13px;
    width: 13px;
    background: transparent url("../images/nav-right-under-screw.jpg") right top no-repeat;
}
#right-arrow {
    position: absolute;
    top: 10px;
    right: 18px;
    height: 61px;
    width: 77px;
    background: transparent url("../images/nav-right-under-arrow.jpg") right top no-repeat;

}

#right-screw2 {
    position: absolute;
    top: 30px;
    right: 97%;
    height: 13px;
    width: 13px;
    background: transparent url("../images/nav-right-under-screw.jpg") right top no-repeat;
    -webkit-transform: rotate(130deg);
}
#right-arrow2 {
    position: absolute;
    top: 1px;
    right: 93.2%;
    height: 61px;
    width: 77px;
    background: transparent url("../images/nav-right-under-arrow.jpg") right top no-repeat;
    -webkit-transform: rotate(180deg);
}

#Logga{
display:block;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
}

#Play{
    
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    height:60px;
    width: 220px;
}
#Lank{
    text-decoration: none;
   
}

#Playbutton{
    height: 60px;
    width: 220px;
     background: linear-gradient(to right, #961ab2, #d33bde, #961ab2);
    color: #fcd144;
    
    
    border-style: solid;
    border-width: 5px;
    border-color: #990096;
    

   
    
    font-size: 100%;

}

#Display{
    display:block;
    width: 220px;
    height: 60px;
    margin: 0px auto;
    color:black;
    text-decoration: none;

    

        
}

#PlayText{
    

    font-family: Bliz-Quadrata;
    font-weight: bold;
    text-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    font-size: 120%;
    margin-top: -38px;
    margin-left: 30px; 
    height: 100px;
    width: 200px;

}
#Play{
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    border-radius: 5px; 
}

#Playbutton:hover{
    background-color: #bbbbbb;
}





.playForFree{
    background-color: red;
    border: 5px solid black;
    margin: 300px auto;
    height: 60px;
    width:150px;
}

.playForFree p{
    color:black;
    text-decoration: none;
    font-family: Bliz-Quadrata;
    font-weight: bold;
    text-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    text-align: center;
    margin:0px;
    margin-top:20px;
}