.Header{

margin: -10px -10px auto -10px;
background-color: grey;
height: 100px;


}

input{

	height:30px;
	
	
}
span{
	margin: -10px 100px 0px 0px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;

   

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    background: #FF6223;
    color: #FFFFFF;
    border: none;
    margin: 35px 10px 100px 10px;
    padding: 0.4em 0.8em;
    font-size: 1em;
    width:80px;
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #CCCCCC;
    color: #333333;
}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #BBBBBB;
}

.search-search-box{
	position:fixed;
	margin: 10px 10px 100px 10px;



}
