body{




}

.Header{

margin: -40px -10px auto -10px;
background-color: #b0000;
height: 110px;
border-radius: 30px;

border-style:solid;
border-color: #;
border-width:0px; 


}
#HeaderBackground{
position: absolute;
 margin-top: -422px;
 z-index: -1;
}

input{

	height:30px;
    margin-top: 15px;
    margin-left: 0px;
	
	
}
button{
    font-family: helvetica;
}
a:hover;{
    color: white;
}



span .close-sprite-bg{
}
.search-search-box{
	margin-left: 900px;
    margin-top: 40px;
}

.serachInput{
    margin:0px;
}



.dropdown .dropdown-menu {
    position: absolute;

   
    top: 100%;
    left: 0px;

   
    margin: 0;
}
.dropdown {
    position: absolute;
    display: inline-block;

}


#test{
    margin-left:200px;
    margin-top:-405px;
    /** Flytta Class knappen */
}



.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;



    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    background: transparent;
    color: #fcd144;
    font-family: Bliz-Quadrata;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000;
    border: none;

   
    padding: 0.4em 0.8em;
    font-size: 2em;
    width:150px;
    margin: 0px 0px 0px 0px;
    size:200%;

}
a{
    color: #FCD144;
    font-family: Bliz-Quadrata;
    
}


/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #990000;
    color: #333333;
    font-size: 120%;
    text-align: center;
    font-family: helvetica;

}


/** List Item Hover Styles **/
.dropdown a:hover {
    background: #BBBBBB;
}
.dropdown{
	margin: 0px 10px 230px 500px;

}
#right-screw {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 13px;
    width: 13px;
    background: transparent url("../images/nav-right-under-screw.jpg") right top no-repeat;
}
#right-arrow {
    position: absolute;
    top: 10px;
    right: 18px;
    height: 61px;
    width: 77px;
    background: transparent url("../images/nav-right-under-arrow.jpg") right top no-repeat;

}

#right-screw2 {
    position: absolute;
    top: 30px;
    right: 97%;
    height: 13px;
    width: 13px;
    background: transparent url("../images/nav-right-under-screw.jpg") right top no-repeat;
    -webkit-transform: rotate(130deg);
}
#right-arrow2 {
    position: absolute;
    top: 1px;
    right: 93.2%;
    height: 61px;
    width: 77px;
    background: transparent url("../images/nav-right-under-arrow.jpg") right top no-repeat;
    -webkit-transform: rotate(180deg);
}

#Logga{
display:block;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
