<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="CSS/CSS.css" />
		<link rel="shortcut icon" href="Images/HSLogo.jpg" />
  <style type="text/css">
    
  </style>
</head>
<body>
  <div id="bg">
    </div>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Loggah" src="images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="ButtonHome">
      <button> <a href="WSS.html"> Home </a></button>
    </div>
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
        <li><a href="Klass/Mage.html"><p>Mage</p></a></li>
        <li><a href="Klass/Priest.html"><p>Priest</p></a></li>
        <li><a href="Klass/Shaman.html"><p>Shaman</p></a></li>
        <li><a href="Klass/Warrior.hmtl"><p>Warrior</p></a></li>
        <li><a href="Klass/Warlock.html"><p>Warlock</p></a></li>
        <li><a href="Klass/Hunter.html"><p>Hunter</p></a></li>
        <li><a href="Klass/Paladin.html"><p>Paladin</p></a></li>
        <li><a href="klass/Rogue.html"><p>Rogue</p></a></li>
        <li><a href="Klass/Druid.html"><p>Druid</p></a></li>
    </ul>
  </div></div>
  <div class="ButtonNeutral">
    <button><a href="Klass/Neutral.html"> Neutral </a></button>
  </div>

  <div class="ButtonAboutOss">
    <button><a href="AboutOss.html"> About Us </a></button>
    <div id="character"> <!----namn och bild ändras här ---->
      <h1 id="HeroName">Hunter</h1>
      <img id="hero" src="images/rexxar.png">
    </div>
    <div id="cbg">
      <div id="1"> <!---alla id's ändras här och funktioner ---->
        <img id="BeastialWrathB" onmouseover="BeastialWrathV" src="http://media-hearth.cursecdn.com/avatars/148/421/304.png"> 
        <video autoplay loop onmouseout="BeastialWrathB" id="BeastialWrathV"></video>
        <div class="epic"> <p class="pris">400</p> </div> 
        <div class="gepic"> <p class="pris">1600</p> </div>
      </div>



    </div>
  </div>

</div>
</body>

</html>