<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="CSS/CSS.css" />
		<link rel="shortcut icon" href="Images/HSLogo.jpg" />
</head>	

<body>
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='Images/BackgroundImage.jpg' style='width:100%;height:100%' alt='[]' />
</div>


<div class="Header">

<style type="text/css">
    
</style>
</head>
<body>
	
	<div class="dropdown">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
        <li><a href="#home">Mage</a></li>
        <li><a href="#about">Priest</a></li>
        <li><a href="#contact">Shaman</a></li>
        <li><a href="#home">Warrior</a></li>
        <li><a href="#about">Warlock</a></li>
        <li><a href="#contact">Hunter</a></li>
        <li><a href="#home">Paladin</a></li>
        <li><a href="#about">Rogue</a></li>
        <li><a href="#contact">Druid</a></li>
    </ul>
</div>



<div class="search-search-box">
                                    <span class="close sprite-bg"></span>
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Sök kort, klass" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
<span class="submit">
    <input id="Search" class="searchInput" type="submit" value="Sök" data-ng-click="autoComplete.refresh()">
</span>

                                </div> </div class="Header">

</body>

</html>
