<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="CSS/CSS.css" />
		<link rel="shortcut icon" href="Images/HSLogo.jpg" />
</head>	

<body>
<div style='position:absolute;z-index:-1;left:0;top:0;width:100%;height:100%'>
  <img src='Images/BackgroundImage.jpg' style='width:100%;height:100%' alt='[]' />
</div>




<style type="text/css">
    
</style>
</head>
<body>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Sök Kort, Klass" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Sök" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
	
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
        <li><a href="Mage.html">Mage</a></li>
        <li><a href="Priest.html">Priest</a></li>
        <li><a href="Shaman.html">Shaman</a></li>
        <li><a href="Warrior.hmtl">Warrior</a></li>
        <li><a href="Warlock.html">Warlock</a></li>
        <li><a href="Hunter.html">Hunter</a></li>
        <li><a href="Paladin.html">Paladin</a></li>
        <li><a href="Rogue.html">Rogue</a></li>
        <li><a href="Druid.html">Druid</a></li>
    </ul>
</div></div>





</body>

</html>
