<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="CSS/CSS.css" />
		<link rel="shortcut icon" href="Images/HSLogo.jpg" />
</head>	

<body>
<div style='position:absolute;z-index:-1;left:0;top:0;width:auto;height:auto'>
  <img src='Images/BackgroundImage.jpg' style='width:100%;height:100%' alt='[]' />
</div>




<style type="text/css">
    
</style>
</head>
<body>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Logga" src="images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
        <li><a href="Klass/Mage.html"><p>Mage</p></a></li>
        <li><a href="Klass/Priest.html"><p>Priest</p></a></li>
        <li><a href="Klass/Shaman.html"><p>Shaman</p></a></li>
        <li><a href="Klass/Warrior.hmtl"><p>Warrior</p></a></li>
        <li><a href="Klass/Warlock.html"><p>Warlock</p></a></li>
        <li><a href="Klass/Hunter.html"><p>Hunter</p></a></li>
        <li><a href="Klass/Paladin.html"><p>Paladin</p></a></li>
        <li><a href="klass/Rogue.html"><p>Rogue</p></a></li>
        <li><a href="Klass/Druid.html"><p>Druid</p></a></li>
    </ul>
</div></div>
<div class="ButtonNeutral">
  <button><a href="Klass/Neutral.html"> Neutral </a></button>
</div>

<div class="ButtonAboutOss">
  <button><a href="AboutOss.html"> About Us </a></button>
</div>

<a id="Lank" href="https://us.battle.net/account/download/?show=hearthstone&style=hearthstone" target="_blank">
<div class="playForFree">
<p> PLAY FOR FREE </p>

</div> 
</a>

<div class="HSText">
<h1> Hearthstone </h1>
</div>

  <div id="RibbonDiv">
<img id="Ribbon" src="Images/Ribbon.png">
  </div>
      
      <div id="AHDIV">
          <br> <br>
  <p id="AH"> <i> Hearthstone: Heroes of Warcraft </i> is a free-to-play, online card game on the Microsoft Windows, Mac OS X, and iPad platforms that anyone can play. <br><br> Players choose to play as one of nine Warcraft Classes (each represented by an epic Hero), and then take turns playing Cards from their customizable Decks to cast potent Spells, use heroic weapons or abilities, or summon powerful Minions to crush their opponent
</p>
      </div>
<br><br>
<img id="BILD" src="Images/BILD.png">

</body>

</html>
