<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="../../CSS/CSS.css" />
		<link rel="shortcut icon" href="../../Images/HSLogo.jpg" />
  <style type="CSS/css.css">
    
  </style>
</head>
<body>
  <div id="bg6">
    </div>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Loggah" src="../../images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="../../images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="ButtonHome">
      <button> <a href="../../WSS.html"> Home </a></button>
    </div>
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
     <li><a href="../Mage/WSMS.html"><p>Mage</p></a></li>
        <li><a href="../Priest/WSPRS.html"><p>Priest</p></a></li>
        <li><a href="../Shaman/WSSS.html"><p>Shaman</p></a></li>
        <li><a href="../Warrior/WSWRS.html"><p>Warrior</p></a></li>
        <li><a href="../Warlock/WSWLS.html"><p>Warlock</p></a></li>
        <li><a href="../Hunter/Cardpallet.html"><p>Hunter</p></a></li>
        <li><a href="../Paladin/WSPS.html"><p>Paladin</p></a></li>
        <li><a href="../Rogue/WSRS.html"><p>Rogue</p></a></li>
        <li><a href="../Druid/WSDS.html"><p>Druid</p></a></li>
    </ul>
    </ul>
  </div></div>
 

  <div class="ButtonAboutOss">
    <button><a href="AboutOss.html"> About Us </a></button>
    <div id="character"> <!--namn och bild ändras här -->
      <h1 id="HeroName">Druid</h1>
      <img id="hero" src="../../images/Malfurion.png">
    </div>
    <div id="cbg">
			      <div class="1"> <!--alla id's ändras här och funktioner -->
			        <img id="BeastialWrathB" onmouseover="BeastialWrathBV()" src="http://media-hearth.cursecdn.com/avatars/252/568/22329.png"> 
			         <video autoplay loop onmouseout="BeastialWrathBB()" id="BeastialWrathV"></video>
			        <div class="epic"> <p class="pris">40</p> </div> 
			        <div class="gepic"> <p class="pris">400</p> </div>
			      </div>

			       <div id="a"> <!--alla id's ändras här och funktioner -->
			        <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/57/154.png"> 
			        <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			        <div class="epic"> <p class="pris">40</p> </div> 
			        <div class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="b"> <!--alla id's ändras här och funktioner -->
			        <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/491/148.png"> 
			        <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			        <div class="epic"> <p class="pris">10</p> </div> 
			        <div class="gepic"> <p class="pris">800</p> </div>
			      </div>

			      <div id="c"> <!--alla id's ändras här och funktioner -->
			        <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/45/165.png"> 
			        <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			        <div class="epic"> <p class="pris">40</p> </div> 
			        <div class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="d"> <!--alla id's ändras här och funktioner -->
			        <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/21/633.png"> 
			        <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			        <div class="epic2"> <p class="pris">40</p> </div> 
			        <div class="gepic2"> <p class="pris">400</p> </div>
			      </div>
			            <br>
			     
			     <div class="rad2">
			               <div id=""> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/835/12219.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">40</p> </div> 
			              <div class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/252/580/22303.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">100</p> </div> 
			              <div class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/252/342/22307.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">40</p> </div> 
			              <div class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/30/149.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">40</p> </div> 
			              <div class="gepic"> <p class="pris">400</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/252/354/22383.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic2"> <p class="pris">400</p> </div> 
			              <div class="gepic2"> <p class="pris">1600</p> </div>
			            </div>

			    
			     </div>

			     <div class="rad3">

			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/849/12273.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">100</p> </div> 
			              <div class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/252/352/22334.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">400</p> </div> 
			              <div class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/464/266.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">100</p> </div> 
			              <div class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/39/311.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">40</p> </div> 
			              <div class="gepic"> <p class="pris">400</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/88/459.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic2"> <p class="pris">100</p> </div> 
			              <div class="gepic2"> <p class="pris">800</p> </div>
			            </div>
			     </div>


			     <div class="rad4">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/252/583/22293.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">100</p> </div> 
			              <div class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/252/586/22361.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">40</p> </div> 
			              <div class="gepic"> <p class="pris">400</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/63/120.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">100</p> </div> 
			              <div class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/149/456/464.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">100</p> </div> 
			              <div class="gepic"> <p class="pris">800</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/73/587.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic2"> <p class="pris">40</p> </div> 
			              <div class="gepic2"> <p class="pris">400</p> </div>
			            </div>


			     </div>

			     <div class="rad5">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/149/12/12243.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">40</p> </div> 
			              <div class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/882/12298.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">400</p> </div> 
			              <div class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/467/237.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">400</p> </div> 
			              <div class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/845/12279.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">100</p> </div> 
			              <div class="gepic"> <p class="pris">800</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/861/12226.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic2"> <p class="pris">100</p> </div> 
			              <div class="gepic2"> <p class="pris">800</p> </div>
			            </div>


			     </div>

			      <div class="rad6">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/149/465/34.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">400</p> </div> 
			              <div class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/106/242.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">400</p> </div> 
			              <div class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/252/340/22360.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">100</p> </div> 
			              <div class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/864/12293.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">1600</p> </div> 
			              <div class="gepic"> <p class="pris">3200</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/858/12270.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic2"> <p class="pris">400</p> </div> 
			              <div class="gepic2"> <p class="pris">1600</p> </div>
			            </div>


			     </div>

			     <div class="rad7">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/252/356/22325.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">1600</p> </div> 
			              <div class="gepic"> <p class="pris">3200</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img id="BeastialWrathB" onmouseover="BeastialWrathBV" src="http://media-hearth.cursecdn.com/avatars/148/473/605.png"> 
			              <video autoplay loop onmouseout="BeastialWrathBB" id="BeastialWrathV"></video>
			              <div class="epic"> <p class="pris">1600</p> </div> 
			              <div class="gepic"> <p class="pris">3200</p> </div>
			            </div>


			            

             
            </div>


     </div>


    </div>
  </div>

</div>
</body>

</html>