<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="../../CSS/CSS.css" />
		<link rel="shortcut icon" href="../../Images/HSLogo.jpg" />
  <style type="CSS/css.css">
    
  </style>
  <script src="../../sort.js"></script>
</head>
<body>
  <div id="bg5">
    </div>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Loggah" src="../../images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="../../images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="ButtonHome">
      <button> <a href="../../WSS.html"> Home </a></button>
    </div>
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
      <li><a href="../Mage/WSMS.html"><p>Mage</p></a></li>
        <li><a href="../Priest/WSPRS.html"><p>Priest</p></a></li>
        <li><a href="../Shaman/WSSS.html"><p>Shaman</p></a></li>
        <li><a href="../Warrior/WSWRS.html"><p>Warrior</p></a></li>
        <li><a href="../Warlock/WSWLS.html"><p>Warlock</p></a></li>
        <li><a href="../Hunter/Cardpallet.html"><p>Hunter</p></a></li>
        <li><a href="../Paladin/WSPS.html"><p>Paladin</p></a></li>
        <li><a href="../Rogue/WSRS.html"><p>Rogue</p></a></li>
        <li><a href="../Druid/WSDS.html"><p>Druid</p></a></li>
    </ul>
    </ul>
  </div></div>
 

  <div class="ButtonAboutOss">
    <button><a href="../../AboutOss.html"> About Us </a></button>
    <div id="character"> <!--namn och bild ändras här -->
      <h1 id="HeroName">Shaman</h1>
      <img id="hero" src="../../images/Thrall.png">
    </div>
    <div id="cbg">
			      <div class="1"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/127/77.png"> 
			         <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			      </div>

			       <div id="a"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/145/530.png"> 
			        <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="b"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/115/10.png"> 
			        <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="c"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/121/129.png"> 
			        <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="d"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/133/152.png"> 
			        <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()"class="gepic2"> <p class="pris">400</p> </div>
			      </div>
			            <br>
			     
			     <div class="rad2">
			               <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/374/22319.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/444/526.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/873/12241.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/372/22265.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/876/12259.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic2"> <p class="pris">800</p> </div>
			            </div>

			    
			     </div>

			     <div class="rad3">

			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/870/12231.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/867/12269.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/370/22345.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/471/107.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/136/214.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic2"> <p class="pris">800</p> </div>
			            </div>
			     </div>


			     <div class="rad4">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/362/22340.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/118/679.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/151/676.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/485/613.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">800</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/358/22270.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()"class="gepic2"> <p class="pris">400</p> </div>
			            </div>


			     </div>

			     <div class="rad5">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/148/51.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/366/22331.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/832/12218.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/360/22269.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">800</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/969/12234.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic2"> <p class="pris">800</p> </div>
			            </div>


			     </div>

			      <div class="rad6">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/879/12277.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/461/172.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/142/124.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/364/22271.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">800</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/376/22349.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()"class="gepic2"> <p class="pris">3200</p> </div>
			            </div>


			     </div>

			     <div class="rad7">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/891/12292.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">3200</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/478/335.png"> 
			              <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()"class="gepic"> <p class="pris">3200</p> </div>
			            </div>


			            

             
            </div>
<div id="ERRORMEDELANDE" onmousedown="CALMDOWN()">
       <h1 id="ERRORTEXT">An error occurred while processing your request!</h1>
        <p id="ERRORHELP">click the message to close.</p> 

     </div>


    </div>
  </div>

</div>
</body>

</html>