<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="../../CSS/CSS.css" />
		<link rel="shortcut icon" href="../../Images/HSLogo.jpg" />
  <style type="CSS/css.css">
    
  </style>
  <script src="../../sort.js"></script>
  <script src="../../Mobil.js"></script>
</head>
<body onLoad = "onSiteLoad('bg5')">
  <div id="bg5">
    </div>
    <?php require(“../../header.php”);?>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Loggah" src="../../images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="../../images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="ButtonHome">
      <button> <a href="../../WSS.html"> Home </a></button>
    </div>
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
      <li><a href="../Mage/WSMS.html"><p>Mage</p></a></li>
        <li><a href="../Priest/WSPRS.html"><p>Priest</p></a></li>
        <li><a href="../Shaman/WSSS.html"><p>Shaman</p></a></li>
        <li><a href="../Warrior/WSWRS.html"><p>Warrior</p></a></li>
        <li><a href="../Warlock/WSWLS.html"><p>Warlock</p></a></li>
        <li><a href="../Hunter/Cardpallet.html"><p>Hunter</p></a></li>
        <li><a href="../Paladin/WSPS.html"><p>Paladin</p></a></li>
        <li><a href="../Rogue/WSRS.html"><p>Rogue</p></a></li>
        <li><a href="../Druid/WSDS.html"><p>Druid</p></a></li>
    </ul>
    </ul>
  </div></div>
 

  <div class="ButtonAboutOss">
    <button><a href="../../AboutOss.html"> About Us </a></button>
    <div id="character"> <!--namn och bild ändras här -->
      <h1 id="HeroName">Shaman</h1>
      <img id="hero" src="../../images/Thrall.png">
    </div>
    <div id="cbg">
			    
    							<div class="rad1">
      <div class="bild1"> <!--alla id's ändras här och funktioner -->
        <img id="ArcaneBlastB" class="bild" src="http://media-hearth.cursecdn.com/avatars/148/127/77.png"> 
         <video id="ArcaneBlastV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
        <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
      </div>

       <div class="bild2"> <!--alla id's ändras här och funktioner -->
        <img id="IceLanceB" class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/145/530.png"> 
        <video id="IceLanceV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

      <div class="bild3"> <!--alla id's ändras här och funktioner -->
        <img id="ManaWyrmB" class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/115/10.png"> 
        <video id="ManaWyrmV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

      <div class="bild4"> <!--alla id's ändras här och funktioner -->
        <img id="FlamecannonB" class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/121/129.png"> 
        <video id="FlamecannonV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

      <div class="bild5"> <!--alla id's ändras här och funktioner -->
        <img id="UnstablePortalB" class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/133/152.png"> 
        <video id="UnstablePortalV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
        <div onemousedown="ERROR()" class="gepic2"> <p class="pris">800</p> </div>
      </div>
      			</div>

			            <br>
			     
										    <div class="rad2">
               <div class="bild1"> <!--alla id's ändras här och funktioner -->
              <img id="FallenHeroB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/374/22319.png"> 
              <video id="FallenHeroV" autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div class="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="SnowchuggerB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/444/526.png"> 
              <video id="SnowchuggerV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>


             <div class="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="SorcerersApprenticeB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/873/12241.png"> 
              <video id="SorcerersApprenticeV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div class="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="CounterspellB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/372/22265.png"> 
              <video id="CounterspellV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

            <div class="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="EffigyB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/876/12259.png"> 
              <video id="EffigyV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">800</p> </div>
            </div>

    
     </div>

																    
									   
     			<div class="rad3">

             <div class="bild1"> <!--alla id's ändras här och funktioner -->
              <img id="IceBarrierB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/870/12231.png"> 
              <video id="IceBarrierV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div class="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="IceBlockB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/867/12269.png"> 
              <video id="IceBlockV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>


             <div class="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="MirrorEntityB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/370/22345.png"> 
              <video id="MirrorEntityV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div class="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="PolymorphBoarB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/471/107.png"> 
              <video id="PolymorphBoarV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

            <div class="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="SpellbenderB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/136/214.png"> 
              <video id="SpellbenderV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
            </div>
     </div>
									  

											
     <div class="rad4">


             <div class="bild1"> <!--alla id's ändras här och funktioner -->
              <img id="VaporizeB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/362/22340.png"> 
              <video id="VaporizeV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div class="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="KirinTorMageB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/118/679.png"> 
              <video id="KirinTorMageV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>


             <div class="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="SootSpewerB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/151/676.png"> 
              <video id="SootSpewerV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div class="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="SpellslingerB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/485/613.png"> 
              <video id="SpellslingerV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

            <div class="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="ConeOfColdB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/358/22270.png"> 
              <video id="ConeOfColdV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
            </div>


     </div>


   <div class="rad5">


             <div class="bild1"> <!--alla id's ändras här och funktioner -->
              <img id="EchoOfMedivhB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/148/51.png"> 
              <video id="EchoOfMedivhV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

             <div class="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="DalaranAspirantB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/366/22331.png"> 
              <video id="DalaranAspirantV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>


             <div class="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="EtherealArcanistB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/832/12218.png"> 
              <video id="EtherealArcanistV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div class="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="GoblinBlastmageB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/360/22269.png"> 
              <video id="GoblinBlastmageV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

            <div class="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="WeeSpellstopperB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/969/12234.png"> 
              <video id="WeeSpellstopperV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
            </div>


     </div>

 <div class="rad6">


             <div class="bild1"> <!--alla id's ändras här och funktioner -->
              <img id="FlameLanceB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/879/12277.png"> 
              <video id="FlameLanceV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div class="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="BlizzardB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/461/172.png"> 
              <video id="BlizzardV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>


             <div class="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="ColdarraDrakeB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/142/124.png"> 
              <video id="ColdarraDrakeV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

             <div class="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="ArchmageAntonidasB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/364/22271.png"> 
              <video id="ArchmageAntonidasV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
            </div>

            <div class="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="FlameLeviathanB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/376/22349.png"> 
              <video id="FlameLeviathanV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">1600</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">3200</p> </div>
            </div>


     </div>


			    

			     <div class="rad7">


             <div class="bild1"> <!--alla id's ändras här och funktioner -->
              <img id="RhoninB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/891/12292.png"> 
              <video id="RhoninV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
            </div>

             <div class="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="PyroblastB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/478/335.png"> 
              <video id="PyroblastV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

             
            </div>
<div id="ERRORMEDELANDE" onmousedown="CALMDOWN()">
       <h1 id="ERRORTEXT">An error occurred while processing your request!</h1>
        <p id="ERRORHELP">click the message to close.</p> 

     </div>


    </div>
  </div>

</div>
</body>

</html>