<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="../../CSS/CSS.css" />
		<link rel="shortcut icon" href="../../Images/HSLogo.jpg" />
  <style type="../../CSS/CSS.css">
    
  </style>
  <script src="../../sort.js"></script>
</head>
<body>
  <div id="bg2">
    </div>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Loggah" src="../../images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="../../images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="ButtonHome">
      <button> <a href="../../WSS.html"> Home </a></button>
    </div>
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
      <li><a href="../Mage/WSMS.html"><p>Mage</p></a></li>
        <li><a href="../Priest/WSPRS.html"><p>Priest</p></a></li>
        <li><a href="../Shaman/WSSS.html"><p>Shaman</p></a></li>
        <li><a href="../Warrior/WSWRS.html"><p>Warrior</p></a></li>
        <li><a href="../Warlock/WSWLS.html"><p>Warlock</p></a></li>
        <li><a href="../Hunter/Cardpallet.html"><p>Hunter</p></a></li>
        <li><a href="../Paladin/WSPS.html"><p>Paladin</p></a></li>
        <li><a href="../Rogue/WSRS.html"><p>Rogue</p></a></li>
        <li><a href="../Druid/WSDS.html"><p>Druid</p></a></li>
    </ul>
    </ul>
  </div></div>
  

  <div class="ButtonAboutOss">
    <button><a href="../../AboutOss.html"> About Us </a></button>
    <div id="character"> <!--namn och bild ändras här -->
      <h1 id="HeroName">Mage</h1>
      <img id="hero" src="../../images/Jaina.png">
    </div>
    <div id="cbg">
     
    		<div class="rad1">
      <div class="1"> <!--alla id's ändras här och funktioner -->
        <img id="ArcaneBlastB" class="bild" src="http://media-hearth.cursecdn.com/avatars/252/459/22358.png"> 
         <video id="ArcaneBlastV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
        <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
      </div>

       <div id="a"> <!--alla id's ändras här och funktioner -->
        <img id="IceLanceB" class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/432/188.png"> 
        <video id="IceLanceV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

      <div id="b"> <!--alla id's ändras här och funktioner -->
        <img id="ManaWyrmB" class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/484/263.png"> 
        <video id="ManaWyrmV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

      <div id="c"> <!--alla id's ändras här och funktioner -->
        <img id="FlamecannonB" class="bild"  src="http://media-hearth.cursecdn.com/avatars/198/226/12192.png"> 
        <video id="FlamecannonV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

      <div id="d"> <!--alla id's ändras här och funktioner -->
        <img id="UnstablePortal" class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/747/12178.png"> 
        <video id="UnstableportalV" autoplay loop  class="video"></video>
        <div onemousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
        <div onemousedown="ERROR()" class="gepic2"> <p class="pris">800</p> </div>
      </div>
      			</div>
            <br>
     
     <div class="rad2">
               <div id=""> <!--alla id's ändras här och funktioner -->
              <img id="FallenHeroB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/456/22268.png"> 
              <video id="FallenHeroV" autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="SnowchuggerB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/744/12230.png"> 
              <video id="SnowchuggerV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="SorcerersApprenticeB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/550/4.png"> 
              <video id="SorcerersApprenticeV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="CounterspellB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/175/531.png"> 
              <video id="CounterspellV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="EffigyB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/453/22267.png"> 
              <video id="EffigyV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">800</p> </div>
            </div>

    
     </div>

     <div class="rad3">

             <div id=""> <!--alla id's ändras här och funktioner -->
              <img id="IceBarrierB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/178/672.png"> 
              <video id="IceBarrierV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="IceBlockB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/184/28.png"> 
              <video id="IceBlockV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="MirrorEntityB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/181/569.png"> 
              <video id="MirrorEntityV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="PolymorphBoarB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/462/22396.png"> 
              <video id="PolymorphBoarV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="SpellbenderB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/612/309.png"> 
              <video id="SpellbenderV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
            </div>
     </div>


     <div class="rad4">


             <div id=""> <!--alla id's ändras här och funktioner -->
              <img id="VaporizeB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/522/160.png"> 
              <video id="VaporizeV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="KirinTorMageB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/562/411.png"> 
              <video id="KirinTorMageV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="SootSpewerB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/154/12306.png"> 
              <video id="SootSpewerV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="SpellslingerB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/471/22299.png"> 
              <video id="SpellslingerV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="ConeOfColdB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/157/26.png"> 
              <video id="ConeOfColdV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
            </div>


     </div>

     <div class="rad5">


             <div id=""> <!--alla id's ändras här och funktioner -->
              <img id="EchoOfMedivhB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/753/12300.png"> 
              <video id="EchoOfMedivhV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="DalaranAspirantB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/468/22359.png"> 
              <video id="DalaranAspirantV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="EtheralArcanistB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/154/125.png"> 
              <video id="EtheralArcanistV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="GoblinBlastmageB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/750/12195.png"> 
              <video id="GoblinBlastmageV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="WeeSpellstopperB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/151/12261.png"> 
              <video id="WeeSpellstopperV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
            </div>


     </div>

      <div class="rad6">


             <div id=""> <!--alla id's ändras här och funktioner -->
              <img id="FlameLanceB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/450/22302.png"> 
              <video id="FlameLanceV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="BlizzardB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/426/276.png"> 
              <video id="BlizzardV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img id="ColdarraDrakeB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/474/22261.png"> 
              <video id="ColdarraDrakeV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img id="ArchmageAntonidasB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/440/220.png"> 
              <video id="ArchmageAntonidasV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img id="FlameLeviathanB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/759/12290.png"> 
              <video id="FlameLeviathanV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic2"> <p class="pris">1600</p> </div> 
              <div onemousedown="ERROR()" class="gepic2"> <p class="pris">3200</p> </div>
            </div>


     </div>

     <div class="rad7">


             <div id=""> <!--alla id's ändras här och funktioner -->
              <img id="RhoninB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/477/22343.png"> 
              <video id="RhoninV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img id="PyroblastB"class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/166/496.png"> 
              <video id="PyroblastV"autoplay loop  class="video"></video>
              <div onemousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onemousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>


             
             
            </div>
 <div id="ERRORMEDELANDE" onmousedown="CALMDOWN()">
       <h1 id="ERRORTEXT">An error occurred while processing your request!</h1>
        <p id="ERRORHELP">click the message to close.</p> 
              </div>

     </div>


    </div>
  </div>

</div>
</body>

</html>