<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">

<head>
	<link rel="stylesheet" href="../CSS/CSS.css" />
  <link rel="shortcut icon" href="../Images/HSLogo.jpg" />

</head>

<body>

	<div style='position:absolute;z-index:-1;left:0;top:0;width:auto;height:auto'>
 	 <img src='../Images/BackgroundImage.jpg' style='width:100%;height:100%' alt='[]' />
	</div>

		<div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       
       <img id="HeaderBackground2" src="../images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
   

    <div class="dropdown" id="test3">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
        <li><a href="Mage.html"><p>Mage</p></a></li>
        <li><a href="Klass/Priest.html"><p>Priest</p></a></li>
        <li><a href="Klass/Shaman.html"><p>Shaman</p></a></li>
        <li><a href="Klass/Warrior.hmtl"><p>Warrior</p></a></li>
        <li><a href="Klass/Warlock.html"><p>Warlock</p></a></li>
        <li><a href="Klass/Hunter.html"><p>Hunter</p></a></li>
        <li><a href="Klass/Paladin.html"><p>Paladin</p></a></li>
        <li><a href="klass/Rogue.html"><p>Rogue</p></a></li>
        <li><a href="Klass/Druid.html"><p>Druid</p></a></li>
    </ul>
</div></div>
<div class="ButtonNeutral">
  <button><a href="Klass/Neutral.html"> Neutral </a></button>
</div>

<div class="ButtonAboutOss">
  <button><a href="AboutOss.html"> About Us </a></button>
</div>
<div class="ButtonHome" id="ButtonHome">
      <button> <a href="../WSS.html"> Home </a></button>
    </div>


 


</body>