<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="../../CSS/CSS.css" />
		<link rel="shortcut icon" href="../../Images/HSLogo.jpg" />
  <style type="../../CSS/CSS.css">
    
  </style>
  <script src="../../sort.js"></script>
</head>
<body>
  <div id="bg3">
    </div>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Loggah" src="../../images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="../../images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="ButtonHome">
      <button> <a href="../../WSS.html"> Home </a></button>
    </div>
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
   <li><a href="../Mage/WSMS.html"><p>Mage</p></a></li>
        <li><a href="../Priest/WSPRS.html"><p>Priest</p></a></li>
        <li><a href="../Shaman/WSSS.html"><p>Shaman</p></a></li>
        <li><a href="../Warrior/WSWRS.html"><p>Warrior</p></a></li>
        <li><a href="../Warlock/WSWLS.html"><p>Warlock</p></a></li>
        <li><a href="../Hunter/Cardpallet.html"><p>Hunter</p></a></li>
        <li><a href="../Paladin/WSPS.html"><p>Paladin</p></a></li>
        <li><a href="../Rogue/WSRS.html"><p>Rogue</p></a></li>
        <li><a href="../Druid/WSDS.html"><p>Druid</p></a></li>
    </ul>
    </ul>
  </div></div>
  <div class="ButtonNeutral">
    <button><a href="../../Klass/Neutral.html"> Neutral </a></button>
  </div>

  <div class="ButtonAboutOss">
    <button><a href="../../AboutOss.html"> About Us </a></button>
    <div id="character"> <!--namn och bild ändras här -->
      <h1 id="HeroName">Paladin</h1>
      <img id="hero" src="../../images/Uther.png">
    </div>
    <div id="cbg">
     
    		<div class="rad1">
      <div class="1"> <!--alla id's ändras här och funktioner -->
        <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/286/100.png"> 
        
        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

       <div id="a"> <!--alla id's ändras här och funktioner -->
        <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/416/22460.png"> 
        
        <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
        <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
      </div>

      <div id="b"> <!--alla id's ändras här och funktioner -->
        <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/147/999/206.png"> 
        
        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

      <div id="c"> <!--alla id's ändras här och funktioner -->
        <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/147/987/158.png"> 
        
        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
        <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
      </div>

      <div id="d"> <!--alla id's ändras här och funktioner -->
        <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/8/657.png"> 
        
        <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
        <div onmousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
      </div>
      			</div>
            <br>
     
     <div class="rad2">
               <div id=""> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/298/642.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/424/22316.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/581/383.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/942/12305.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/283/191.png"> 
              
              <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
            </div>

    
     </div>

     <div class="rad3">

             <div id=""> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/945/12257.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/948/12228.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/274/980/567.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/268/581.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/954/12223.png"> 
              
              <div onmousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">800</p> </div>
            </div>
     </div>


     <div class="rad4">


             <div id=""> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/418/22373.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/301/23.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/149/81/12240.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/420/22330.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/422/22362.png"> 
              
              <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
            </div>


     </div>

     <div class="rad5">


             <div id=""> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/277/7.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/289/355.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/960/12244.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/957/12222.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/951/12280.png"> 
              
              <div onmousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
            </div>


     </div>

      <div class="rad6">


             <div id=""> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/256/22315.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/198/220/142.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>


             <div id="bild3"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/426/22380.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

             <div id="bild4"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/428/22394.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

            <div id="bild5"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/252/208/22313.png"> 
              
              <div onmousedown="ERROR()" class="epic2"> <p class="pris">1600</p> </div> 
              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">3200</p> </div>
            </div>


     </div>

     <div class="rad7">


             <div id=""> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/274/506.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
            </div>

             <div id="bild2"> <!--alla id's ändras här och funktioner -->
              <img  class="bild" src="http://media-hearth.cursecdn.com/avatars/148/304/391.png"> 
              
              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
              <div onmousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
            </div>


             
             
            </div>
 <div id="ERRORMEDELANDE" onmousedown="CALMDOWN()">
       <h1 id="ERRORTEXT">An error occurred while processing your request!</h1>
        <p id="ERRORHELP">click the message to close.</p> 
              </div>

     </div>


    </div>
  </div>

</div>
</body>

</html>