<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="../../CSS/CSS.css" />
		<link rel="shortcut icon" href="../../Images/HSLogo.jpg" />
  <style type="CSS/css.css">
    
  </style>
  <script src="../../sort.js"></script>
</head>
<body>
  <div id="bg9">
    </div>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Loggah" src="../../images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="../../images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="ButtonHome">
      <button> <a href="../../WSS.html"> Home </a></button>
    </div>
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
      <li><a href="../Mage/WSMS.html"><p>Mage</p></a></li>
        <li><a href="../Priest/WSPRS.html"><p>Priest</p></a></li>
        <li><a href="../Shaman/WSSS.html"><p>Shaman</p></a></li>
        <li><a href="../Warrior/WSWRS.html"><p>Warrior</p></a></li>
        <li><a href="../Warlock/WSWLS.html"><p>Warlock</p></a></li>
        <li><a href="../Hunter/Cardpallet.html"><p>Hunter</p></a></li>
        <li><a href="../Paladin/WSPS.html"><p>Paladin</p></a></li>
        <li><a href="../Rogue/WSRS.html"><p>Rogue</p></a></li>
        <li><a href="../Druid/WSDS.html"><p>Druid</p></a></li>
    </ul>
    </ul>
  </div></div>
  

  <div class="ButtonAboutOss">
    <button><a href="../../AboutOss.html"> About Us </a></button>
    <div id="character"> <!--namn och bild ändras här -->
      <h1 id="HeroName">Warrior</h1>
      <img id="hero" src="../../images/Garrosh.png">
    </div>
    <div id="cbg">
			      <div class="1"> <!--alla id's ändras här och funktioner -->
			        <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/547/366.png"> 
			        <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			      </div>

			       <div id="a"> <!--alla id's ändras här och funktioner -->
			        <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/921/12260.png"> 
			       <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="b"> <!--alla id's ändras här och funktioner -->
			        <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/358/50.png"> 
			       <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			        <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			      </div>

			      <div id="c"> <!--alla id's ändras här och funktioner -->
			        <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/352/638.png"> 
			       <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			        <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			      </div>

			      <div id="d"> <!--alla id's ändras här och funktioner -->
			        <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/319/664.png"> 
			       <video autoplay loop class="video" ></video>
			        <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
			      </div>
			            <br>
			     
			     <div class="rad2">
			               <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/406/22320.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/149/551/166.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/147/552/454.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/316/215.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/412/22333.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">800</p> </div>
			            </div>

			    
			     </div>

			     <div class="rad3">

			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/340/644.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/538/328.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/408/22354.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/400/22286.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/930/12211.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
			            </div>
			     </div>


			     <div class="rad4">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/398/22309.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/918/12203.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/541/69.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/402/22395.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/349/345.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">800</p> </div>
			            </div>


			     </div>

			     <div class="rad5">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/328/504.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/404/22376.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/933/12220.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/346/297.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/149/33/12275.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">800</p> </div>
			            </div>


			     </div>

			      <div class="rad6">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/936/12295.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/304/22339.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/927/12215.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/361/96.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/924/12303.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
			            </div>


			     </div>

			     <div class="rad7">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/148/367/643.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild" src="http://media-hearth.cursecdn.com/avatars/252/414/22342.png"> 
			             <video autoplay loop class="video" ></video>
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
			            </div>


			            

             
            </div>

<div id="ERRORMEDELANDE" onmousedown="CALMDOWN()">
       <h1 id="ERRORTEXT">An error occurred while processing your request!</h1>
        <p id="ERRORHELP">click the message to close.</p> 
     </div>


    </div>
  </div>

</div>
</body>

</html>