<!DOCTYPE html>
<html lang="sv">
<meta charset="utf-8">
<head>
		<title> Hearthstone </title>
		<link rel="stylesheet" href="../../CSS/CSS.css" />
		<link rel="shortcut icon" href="../../Images/HSLogo.jpg" />
  <style type="CSS/css.css">
    
  </style>
  <script src="../../sort.js"></script>
</head>
<body>
  <div id="bg7">
    </div>
	  <div class="Header">
       <div class="search-search-box">
                            <div style="margin-top:40px;">
                                    <span class="close-sprite-bg">
                                    <input type="text" id="searchQueryHeader" class="auto-complete-search" autocomplete="off" spellcheck="false" autocorrect="false" placeholder="Search Cards, Class" data-ng-model="autoComplete.q" data-ng-keyup="autoComplete.refresh()">
                                    <input id="Search" class="searchInput" type="submit" value="Search" data-ng-click="autoComplete.refresh()">
                </span></div>

     </div> 

       <div id="right-screw"></div>
       <div id="right-arrow"></div>
       <div id="right-screw2"></div>
       <div id="right-arrow2"></div>
       <img id="Loggah" src="../../images/HSlogga.png" height="258px" width="480px">
       <img id="HeaderBackground" src="../../images/nav-button-bg-small3.jpg" height="100px" width="1348px">
	
    <div class="ButtonHome">
      <button> <a href="../../WSS.html"> Home </a></button>
    </div>
    <div class="dropdown" id="test">

    <!-- trigger button -->
    <button> Class </button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
      <li><a href="../Mage/WSMS.html"><p>Mage</p></a></li>
        <li><a href="../Priest/WSPRS.html"><p>Priest</p></a></li>
        <li><a href="../Shaman/WSSS.html"><p>Shaman</p></a></li>
        <li><a href="../Warrior/WSWRS.html"><p>Warrior</p></a></li>
        <li><a href="../Warlock/WSWLS.html"><p>Warlock</p></a></li>
        <li><a href="../Hunter/Cardpallet.html"><p>Hunter</p></a></li>
        <li><a href="../Paladin/WSPS.html"><p>Paladin</p></a></li>
        <li><a href="../Rogue/WSRS.html"><p>Rogue</p></a></li>
        <li><a href="../Druid/WSDS.html"><p>Druid</p></a></li>
    </ul>
    </ul>
  </div></div>
  <div class="ButtonNeutral">
    <button><a href="Klass/Neutral.html"> Neutral </a></button>
  </div>

  <div class="ButtonAboutOss">
    <button><a href="AboutOss.html"> About Us </a></button>
    <div id="character"> <!--namn och bild ändras här -->
      <h1 id="HeroName">Rogue</h1>
      <img id="hero" src="../../images/Valeera.png">
    </div>
    <div id="cbg">
			      <div class="1"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/17/364.png"> 
			         
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			        <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			      </div>

			       <div id="a"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/14/550.png"> 
			        
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="b"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/498/92.png"> 
			        
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="c"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/981/284.png"> 
			        
			        <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			      </div>

			      <div id="d"> <!--alla id's ändras här och funktioner -->
			        <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/538/22347.png"> 
			        
			        <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
			        <div onmousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
			      </div>
			            <br>
			     
			     <div class="rad2">
			               <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/978/198.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/703/244.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/975/382.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/544/22336.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/147/993/417.png"> 
			              
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">400</p> </div>
			            </div>

			    
			     </div>

			     <div class="rad3">

			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/809/12212.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/815/12255.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/385/14.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/541/22371.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/812/12265.png"> 
			              
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
			            </div>
			     </div>


			     <div class="rad4">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/2/82.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/556/22397.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/550/22321.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/11/135.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/565/3.png"> 
			              
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">3200</p> </div>
			            </div>


			     </div>

			     <div class="rad5">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/823/12229.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/547/22348.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/5/286.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/553/22273.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">1600</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/909/12236.png"> 
			              
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
			            </div>


			     </div>

			      <div class="rad6">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/806/12276.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/487/127.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>


			             <div id="bild3"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/39/12235.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">100</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">800</p> </div>
			            </div>

			             <div id="bild4"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/535/22430.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">40</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">400</p> </div>
			            </div>

			            <div id="bild5"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/149/453/562.png"> 
			              
			              <div onmousedown="ERROR()" class="epic2"> <p class="pris">400</p> </div> 
			              <div onmousedown="ERROR()" class="gepic2"> <p class="pris">1600</p> </div>
			            </div>


			     </div>

			     <div class="rad7">


			             <div id=""> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/148/826/12291.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
			            </div>

			             <div id="bild2"> <!--alla id's ändras här och funktioner -->
			              <img class="bild"  src="http://media-hearth.cursecdn.com/avatars/252/562/22324.png"> 
			              
			              <div onmousedown="ERROR()" class="epic"> <p class="pris">1600</p> </div> 
			              <div onmousedown="ERROR()" class="gepic"> <p class="pris">3200</p> </div>
			            </div>


			            

             
            </div>

            <div id="ERRORMEDELANDE" onmousedown="CALMDOWN()">
       <h1 id="ERRORTEXT">An error occurred while processing your request!</h1>
        <p id="ERRORHELP">click the message to close.</p> 
     </div>


    </div>
  </div>

</div>
</body>

</html>